<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>hrfarmer.live</title>
</head>

<body>
    <div class="header">
        <table>
            <tr>
                <th class="title"><h1 class="titletext">HR FARMER</h1></th>
                <th class="empty"></th>
                <th class="tableitem"><img class="tableimage" src="/static/images/discord.png" alt="discord"></th>
                <th class="tableitem"><a href="https://osu.ppy.sh/users/13473514"><img class="tableimage" src="/static/images/osu.png" alt="osu!"></a></th>
                <th class="tableitem"><img class="tableimage" src="/static/images/upload.png" alt="upload"></th>
            </tr>
        </table>
    </div>

    <div style="text-align: center; margin-top: 250px;">
        <img src="/static/images/drill.webp" alt="Drill">
        <h1>Aboout meee!!</h1>
        <p style="margin-left: 50px; margin-right: 50px;">Hello</p>
    </div>
</body>

</html>