<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>HARD ROCK FARMER</title>
</head>

<body>
    <div class="header">
        <table>
            <tr>
                <th class="title"><h1>HR FARMER</h1></th>
                <th class="empty"></th>
                <th class="tableitem"><img class="tableimage" src="{{ url_for('static', filename= 'images/discord.png') }}" alt="discord"></th>
                <th class="tableitem"><a href="https://osu.ppy.sh/users/13473514"><img class="tableimage" src="{{ url_for('static', filename= 'images/osu.png') }}" alt="osu!"></a></th>
                <th class="tableitem"><img class="tableimage" src="{{ url_for('static', filename= 'images/upload.png') }}" alt="upload"></th>
            </tr>
        </table>
    </div>

    <div style="text-align: center; margin-top: 500px;">
        <h1>POG</h1>
    </div>
</body>

</html>